@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@600&family=Roboto:ital,wght@1,500&display=swap");
* {
  box-sizing: border-box;
  color-scheme: dark;
}
.grid-container {
  outline: 8px solid #504324;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.grid {
  border: none;
  outline: 1px solid #000;
}
.pixel {
  background-color: #000;
}
button {
  padding: 10px 14px;
  background-color: rgb(9, 21, 17);
  color: rgb(199, 218, 199);
  border: none;
  font-size: 20px;
  font-family: "Handjet", cursive;
}
button:hover {
  cursor: pointer;
  background-color: rgb(96, 52, 36);
  color: burlywood;
  box-shadow: 2px 2px 4px rgb(96, 52, 36);
}
